<!-- The code from line xx to xx have been taken from: 
https://github.com/DavidEggenberger/DavidSeesSharp-Videos/blob/main/Blazor-TabControl/BlazorTabControlVideo/Pages/Index.razor !-->
@page "/"
@using Core
@using System
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication


@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager


<PageTitle>Index</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1> Hello, @context.User.Identity?.Name! </h1>
    </Authorized>
</AuthorizeView>

<hr>

<div class="btn-group">
    @foreach (var item in types)
    {
        if (Array.IndexOf(types, item) == selected)
        {
            <button class="btn btn-primary">@item.Name</button>
        }
        else
        {
            <button class="btn btn-secondary" @onclick="() => selected = Array.IndexOf(types, item)">@item.Name</button>
        }
    }
</div>


<style>
    .h1 {
        justify-content: center;
    }

    .btn-group {
        display: flex;
        padding: 20px;
        padding-top: 40px;
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .button {
        display: block;
        background-color: #bbb;
        width: calc(100% - 20px);
    }
</style>

@GetRenderFragment(types[selected])

@code{
    RenderFragment GetRenderFragment(Type type)
    {
        RenderFragment renderFragment = renderTreeBuilder =>
        {
            renderTreeBuilder.OpenComponent(0, type);
            renderTreeBuilder.CloseComponent();
        };
        return renderFragment; 
    }
    int selected;
    ComponentBase[] components = { new Resources(), new Users() };
    Type[] types => components.Select(c => c.GetType()).ToArray();
}

