@page "/resources/create"
@using Infrastructure
@attribute [Authorize]
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider authStateProvider
@inject IModalService Modal

<h1>Create Resource</h1>

<hr />

<EditForm Model="@resource" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="Title">Title</label>
        <InputText id="Title" @bind-Value="resource.Title" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Text">Text</label>
        <InputTextArea @bind-Value="TextParagraphs" class="form-control" rows="5" />
    </div>
    <div class="form-group">
        <label for="Image URL">Image/Youtube URL</label>
        <InputText id="ImageUrl" @bind-Value="resource.ImageUrl" class="form-control" />
    </div>
    <div class="form-group">
        <br />
        <button type="submit" class="btn btn-success">Create</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
        <button type="button" class="btn btn-primary" @onclick="Cancel">Cancel</button>
    </div>
</EditForm>

@code {
    private ResourceCreateDTO resource = new();
    private EditContext editContext;

    protected override async Task OnInitializedAsync()
    {
        var authState = await authStateProvider.GetAuthenticationStateAsync();
        var userAuthState = authState.User;
        var username = userAuthState.Claims.First(c => c.Type == "preferred_username").Value;
        var strings = username.Split("@");
        var user = await Http.GetFromJsonAsync<UserDetailsDTO>($"api/users/{strings[0]}");
        resource.User = new UserDTO{Id = user.Id, UserName = user.UserName};
        resource.Created = DateTime.Now;
    }

    private string TextParagraphs
    {
        get => string.Join(Environment.NewLine, resource.TextParagraphs);
        set => resource.TextParagraphs = value.Split(Environment.NewLine).Select(p => p.Trim()).Where(p => !string.IsNullOrWhiteSpace(p)).ToList();
    }

    private string EmbedYoutubeLink(string input) {
        var res = input.Split("=");
        var embeddedUrl = "https://www.youtube.com/embed/"+res[1];
        return embeddedUrl;
    }

    private async Task HandleValidSubmit()
    {
        if(resource.ImageUrl.ToLower().Contains("youtube") && !resource.ImageUrl.ToLower().Contains("embed"))
            resource.ImageUrl = EmbedYoutubeLink(resource.ImageUrl);
        var response = await Http.PostAsJsonAsync("api/Resources", resource);

        if (response.IsSuccessStatusCode)
        {
            var created = await response.Content.ReadFromJsonAsync<int>();
            ShowCreatePopup(created);
            var uri = $"{NavigationManager.BaseUri}resources/{created}";
            NavigationManager.NavigateTo(uri);
        }
    }

    private void ShowCreatePopup(int id)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(CreatePopup.ResourceId), id);

        Modal.Show<CreatePopup>("Resource Created", parameters);
    }

    private void Cancel()
    {
        var uri = $"{NavigationManager.BaseUri}resources";

        NavigationManager.NavigateTo(uri);
    } 
} 

