@page "/resources"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using DubletterneAPP.Shared
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Resource list page</PageTitle>

<h1>Resource list page</h1>

<p>This page lists all available resources.</p>

@if (resources == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in resources)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? resources;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            //resources = await Http.GetFromJsonAsync<WeatherForecast[]>("Resource");
            
            var response = await Http.GetAsync("Resource");
            var jsonstring = await response.Content.ReadAsStringAsync();
            Console.WriteLine(jsonstring);
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
