@page "/resources/create"
@using Infrastructure
@attribute [Authorize]
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider authStateProvider

<h1>Create Resource</h1>

<hr />

<EditForm Model="@resource" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="Title">Title</label>
        <InputText id="Title" @bind-Value="resource.Title" class="form-control" />
    </div>
    <div class="form-group">
        <label for="UserName">Username</label>
        <InputText id="UserName" @bind-Value="resource.User" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Created">Created</label>
        <InputDate id="Created" @bind-Value="resource.Created" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Text">Text</label>
        <InputTextArea @bind-Value="TextParagraphs" class="form-control" rows="5" />
    </div>
    <div class="form-group">
        <label for="Image URL">Image URL</label>
        <InputText id="ImageUrl" @bind-Value="resource.ImageUrl" class="form-control" />
    </div>
    <div class="form-group">
        <br />
        <button type="submit" class="btn btn-success">Create</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
        <button type="button" class="btn btn-primary" @onclick="Cancel">Cancel</button>
    </div>
</EditForm>

@code {
    private ResourceCreateDTO resource = new();

    private string TextParagraphs
    {
        get => string.Join(Environment.NewLine, resource.TextParagraphs);
        set => resource.TextParagraphs = value.Split(Environment.NewLine).Select(p => p.Trim()).Where(p => !string.IsNullOrWhiteSpace(p)).ToList();
    }

    private async Task HandleValidSubmit()
    {
        var authState = await authStateProvider.GetAuthenticationStateAsync();
        var username = authState.User.Claims.Where(c => c.Type == "preferred_username").First().Value;
        Console.WriteLine("username: " + username);
        
        var response = await Http.PostAsJsonAsync("api/Resources", resource);

        Console.WriteLine(response.ToString());

        if (response.IsSuccessStatusCode)
        {
            var created = await response.Content.ReadFromJsonAsync<ResourceDetailsDTO>();

            var uri = $"{NavigationManager.BaseUri}resources/{created?.Id}";

            NavigationManager.NavigateTo(uri);
        }
    }

    private void Cancel()
    {
        var uri = $"{NavigationManager.BaseUri}resources";

        NavigationManager.NavigateTo(uri);
    } 
} 

